<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict MGD</title>
</head>
<body>
    <h1>Upload Augmented Dataset</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".json">
        <input type="submit" value="Upload and Predict">
    </form>
    <div id="results">
        <!-- Results will be displayed here -->
    </div>
    <div id="graph">
        <!-- Graphs will be rendered here -->
    </div>
</body>
</html>
